body {
    font-family : "나눔 고딕", NanumGothic, "돋움", Dotum, sans-serif;
    margin : 0 0;
}

.top {
    border-bottom : 1px solid #d1d1d1;
}

.top .title {
    background-color: black;
}

.top .title h1{
    width : 1000px;
    color : white;
    margin : auto;
    padding: 33px 40px;
    font : 40px bold;
}

.top .content {
    width : 1000px;
    margin : 0 auto;
    padding : 40px;
    padding-bottom : 0;
}

.menu {
    white-space : nowrap;
    padding-bottom: 30px;
}

.top .content .menu .menu1{
    display: inline-block;
    width : 322px;
    border-style: solid;
    border-width: 1px;
    border-color : #d1d1d1;
    text-align: center;
    padding : 7.5px 0;
}

.menu .menu2 {
    display: inline-block;
    width : 322px;
    border-style: solid;
    border-width: 1px;
    border-color : #d1d1d1;
    text-align: center;
    padding : 7.5px 0;
    margin-left : 8.5px;
    margin-right : 8.5px;
}

.menu3 {
    display: inline-block;
    width : 322px;
    border-style: solid;
    border-width: 1px;
    border-color : #d1d1d1;
    text-align: center;
    padding : 7.5px 0;
}

.top .content .menu :hover {
    border-color : #454545;
    font-weight: bold;
}
.top .content .menu a{
    text-decoration: none;
    color : #000;
    font-size : 16px;
}

/* .i0 {
    font-size : 20px;
    color : #000;
    font-weight: bold;
    border-bottom : 1px solid #454545;
} */

.context-title{
    padding-top : 20px;
    padding-bottom : 20px; 
    border-bottom : 1px solid #454545;
    font-size : 20px;
    color : #000;
    font-weight : bold;
}

.i1 {
    font-size : 16px;
    font-weight: bold;
    color : #333;
    border : 1px solid #d1d1d1;
    margin : 30px 0;
}

.i2 {
    font-size : 16px;
    font-weight: bold;
    color : #333;
    border : 1px solid #d1d1d1;
    margin : 30px 0;
}

.i3 {
    font-size : 16px;
    font-weight: bold;
    color : #333;
    border : 1px solid #d1d1d1;
    margin : 30px 0 40px;
}

.item {
    font-weight: normal;
    font-size : 12px;
    color : #000;
    margin : auto;
    padding : 30px;
    border-top : 1px solid #d1d1d1;
}

.i-title {
    padding-left: 15px;
    padding-top : 14px;
    padding-bottom : 14px;
    background-color: #f7f7f7;

}

.bottom div {
    text-align: center;
}

.bottom .p1 {
    margin-top : 30px;
    font-size : 12px;
    color : #999;
}

.bottom .p2 {
    margin-top : 10px;
    font-size : 12px;
    color : #000;
}


.kids-size table {
    width : 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

.kids-size table caption {
    font-size : 14px;
    color : #000;
    font-weight : bold;
    text-align: left;
    margin-bottom : 15px;
}

.kids-size table thead th {
    height: 15px;
    border : 1px solid #e4e4e4;
    background-color: #fbfbfb;
    font-size: 12px;
    color : #555;
    padding : 10px;
}

.kids-size table tbody td {
    height : 15px;
    border : 1px solid #e4e4e4;
    margin : 0;
    padding : 10px;
    color : #555;
    font-size : 12px;
}

.kids-size .bold {
    font-weight : bold;
}

.refund {
    padding-top : 15px;
}

.refund table {
    width : 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: auto;
}

.refund table caption {
    font-size: 14px;
    color : #000;
    font-weight : bold;
    text-align: left;
    padding-top : 16px;
    padding-bottom : 20px;
}

.refund table thead th {
    height : 15px;
    font-size : 12px;
    color : #555;
    background-color: #fbfbfb;
    border-top : 2px solid #a5a5a5;
    border-bottom : 1px solid #e4e4e4;
    padding : 10px;
}

.refund table tbody {
    font-size : 12px;
    color : #555;
    border-bottom : 1px solid #a5a5a5;
}

.refund table tbody td {
    height : 15px;
    padding : 10px;
}

/* .refund table tbody tr :nth-child(2){
    padding : 10px;
    text-align: right;
}

.refund table tbody tr :nth-child(3){
    padding : 10px;
    text-align: right;
}

.refund table tbody tr :nth-child(4){
    padding : 10px;
    text-align: right;
} */

.refund table tfoot td {
    height : 15px;
    font-size : 12px;
    color : #555;
    font-weight : bold;
    padding : 10px;
    border-bottom : 1px solid #e4e4e4;
}
/* 
.refund table tfoot tr :nth-child(2) {
    text-align : right;
}

.refund table tfoot tr :nth-child(3) {
    text-align : right;
}

.refund table tfoot tr :nth-child(4) {
    text-align : right;
} */

.i2 .item {
    font-size : 14px;
    color : #000;
    font-weight : bold;

}

.i2 .item form {
    border : 1px solid #e4e4e4;
    background-color: #fbfbfb;

}

.id label {
    display : block;
    padding-top : 20px;
    padding-left : 20px;
    padding-bottom : 10px;
}

.id input {
    display : block;
    width : 890px;
    height: 31px;
    margin-left : 20px;
}

.pwd label{
    display : block;
    padding-top : 20px;
    padding-left : 20px;
    padding-bottom : 10px;
}

.pwd input {
    display : block;
    width : 890px;
    height : 31px;
    margin-left : 20px;
}

.name label {
    display : block;
    padding-top : 20px;
    padding-left : 20px;
    padding-bottom : 10px;
}

.name input {
    display : block;
    width : 890px;
    height : 31px;
    margin-left : 20px;
}

.birth label {
    display : block;
    padding-top : 20px;
    padding-left : 20px;
    padding-bottom : 10px;
}

.birth div {
    display : block;
    padding-top : 10px;
    padding-bottom : 10px;
    white-space : nowrap;
}

.birth div select {
    display : inline-block;
    width : 293px;
    height: 31px;
}

.birth div option {
    font-size: 12px;
    font-weight: normal;
    color : #000;
}

#month {
    margin-left : 5px;
    margin-right : 5px;
}

.sex span {
    display : block;
    padding-left : 20px;
    padding-bottom : 10px;
}

.sexselect {
    margin-left : 10px;
}

.sexselect label {
    font-size : 12px;
    font-weight: normal;
    color : #000;
}
.sexselect :nth-child(2) {
    padding-right : 50px;    
}

.email label {
    display : block;
    padding-top : 10px;
    padding-left : 20px;
    padding-bottom : 10px;
}

.email input {
    display : block;
    width : 890px;
    height : 31px;
    margin-left : 20px;
}

.phone label {
    display : block;
    padding-top : 10px;
    padding-left : 20px;
    padding-bottom : 10px;
}

#phone {
    display : inline-block;
}

.phone button {
    border : 1px solid #08a600;
    background-color: #4ec53d;
    font-size : 12px;
    color : #fff;
}

.phone div {
    padding-top : 5px;
    padding-bottom : 5px;
}

.phone div input {
    width : 710px;
    height : 31px;
}

.phone div button {
    width : 160px;
    height : 37px;
    margin-left : 5px;
}

.phone input {
    display : block;
    width : 890px;
    height : 31px;
    margin-left : 20px;
}

.hobby p {
    display : block;
    padding-top : 10px;
    padding-left : 20px;
    padding-bottom : 10px;
}

.hobby div {
    font-size : 12px;
    font-weight: normal;
    color : #000;
    margin-left : 20px;
}

.hobby div label {
    margin-right : 60px;
}

.introduce label {
    display : block;
    padding-left : 20px;
    padding-bottom : 10px;
}

.introduce textarea {
    margin-left : 20px;
    width : 890px;
    height : 150px;
    resize: none;
}

.complete {
    width : 898px;
    height : 45px;
    margin-top : 20px;
    margin-left : 20px;
    margin-bottom : 20px;
    border : 1px solid #08a600;
    background-color: #4ec53d;
    font-size : 16px;
    color : #fff;
}

.meaning h4 {
    font-size : 14px;
    font-weight : bold;
    color : #000;
}

.meaning article {
    border : 1px solid #e4e4e4;
    padding : 20px;
}
.meaning article h1 {
    text-align: center;
    font-size : 32px;
}

.meaning article strong {
    font-size : 14px;
}

.meaning article span {
    font-size : 12px;
    color : #559bfa;
}

.livesearch h4 {
    font-size : 14px;
}

.livesearch article {
    border : 1px solid #e4e4e4;
    padding : 10px 20px;
    width : 200px;
}

.livesearch article .rank {
    display : inline-block;
    border : 1px solid #e0e0e0;
    font-size : 10px;
    color : #666;
    width : 15px;
    height : 13px;
    text-align: center;
    padding-top : 2px;
}

.cookie h4 {
    font-size : 14px;
    font-weight : bold;
}

.cookie ul {
    border : 1px solid #e4e4e4;
    padding : 20px;
    padding-left : 35px;
}

.cookie ul li {
    font-size : 12px;
    padding : 5px;
}
.cookie ul :nth-child(1) {
    font-weight: bold;
}

.cookie ul :nth-child(1) span {
    color : #559bfa
}

.cookie ul :nth-child(2) span {
    color : #ec5336;
}

.cookie ul :nth-child(3) a {
    color : #559bfa;
    text-decoration: underline;
}

.cookie ul :last-child a {
    color : #559bfa;
    text-decoration: underline;
}

.news h4 {
    font-size : 14px;
}

.news article {
    border : 1px solid #e4e4e4;
    padding-left : 20px;
}

.news article img {
    float: left;
    margin-right : 10px;
}

.news article div p {
    margin-top : 5px;
    margin-bottom : 5px;
}

.newstitle {
    font-weight : bold;
}

.news article .first {
    margin : 10px 0;
    padding-top : 10px;
    padding-bottom : 10px;
}

.news .first .newstitle {
    font-size : 14px;
    padding-top : 3px;
    padding-bottom : 10px;
}

.news article .second {
    padding-top : 10px;
    padding-bottom : 10px;
    border-top : 1px solid #e4e4e4;
    border-bottom : 1px solid #e4e4e4;
}

.news .second .newstitle {
    font-size : 14px;
    padding-top : 3px;
    padding-bottom : 10px;
}

.news article .third {
    margin : 10px 0;
    padding-top : 5px;
    padding-bottom : 10px;
}

.news .third .newstitle {
    font-size : 14px;
    padding-top : 3px;
    padding-bottom : 10px;
}

.webtoon h4 {
    font-size : 14px;
}

.webtoon article {
    white-space: normal;
    border : 1px solid #e4e4e4;
    padding : 20px 20px 10px 20px;
}
.webtoon a {
    display : inline-block;
    text-decoration: none;
    color : #000;
    margin-bottom : 10px;
    
}

.webtoon h4 {
    margin : 5px 0 0 0;
}

.webtoon p {
    margin : 5px 0 0 0;
}

.webtoon span {
    font-size : 14px;
    font-weight : bold;
}

.webtoon .cuttoon {
    border : 1px solid #71b036;
    background-color: #80c83d;
    font-size : 10px;
    color : #fff;
    padding : 2px 3px;
}

.webtoon .smarttoon {
    border : 1px solid #df4e28;
    background-color: #ec5336;
    font-size : 10px;
    color : #fff;
    padding : 2px 3px;
}

.webtoon .wt2 {
    margin-left : 15px;
    margin-right : 15px;
}

.webtoon .wt5 {
    margin-left : 15px;
    margin-right : 15px;
}

.webtoon article :hover {
    text-decoration: underline;
}