body {
    margin : 0 0;
}

.top {
    border-bottom : 1px solid #d1d1d1;
}

.top .title {
    background-color: black;
}

.top .title h1{
    width : 1000px;
    color : white;
    margin : auto;
    padding: 33px 40px;
    font : 40px bold;
}

.top .content {
    width : 1000px;
    margin : 0 auto;
    padding : 40px;
    padding-bottom : 0;
}

.menu {
    padding-bottom: 40px;
}

.top .content .menu * {
    display: inline-block;
    width : 322px;
    border-style: solid;
    border-width: 1px;
    border-color : #d1d1d1;
    text-align: center;
    padding : 5px 0;
}

.menu .s2 {
    margin-left : 14px;
    margin-right : 14px;
}

/* .i0 {
    font-size : 20px;
    color : #000;
    font-weight: bold;
    border-bottom : 1px solid #454545;
} */

.context-title{
    padding-top : 20px;
    padding-bottom : 20px; 
    border-bottom : 1px solid #454545;
    font-size : 20px;
    color : #000;
    font-weight : bold;
}

.i1 {
    font-size : 16px;
    font-weight: bold;
    color : #333;

    border : 1px solid #d1d1d1;
    margin : 30px 0;
}

.i2 {
    font-size : 16px;
    font-weight: bold;
    color : #333;

    border : 1px solid #d1d1d1;
    margin : 30px 0;
}

.i3 {
    font-size : 16px;
    font-weight: bold;
    color : #333;

    border : 1px solid #d1d1d1;
    margin : 30px 0 40px;
}

.item {
    font-weight: normal;
    font-size : 12px;
    color : #000;
    margin : 0;
    padding : 30px;
    
    border-top : 1px solid #d1d1d1;
}

.i-title {
    padding-left: 15px;
    padding-top : 12.5px;
    padding-bottom : 12.5px;

    background-color: #f7f7f7;

}

.bottom div {
    text-align: center;
}

.bottom .p1 {
    margin-top : 30px;
    font-size : 12px;
    color : #999;
}

.bottom .p2 {
    margin-top : 10px;
    font-size : 12px;
    color : #000;
}

.menu :hover{
    border-color : #454545;
    font-weight: bold;
}